%%% CHICAGO BOSS PROJECT SKELETON

[{boss, [
    {path, "../ChicagoBoss"},
    {applications, [cb_admin, bff]},
    {assume_locale, "en"},

    {compiler_options, [return_errors]},

    {db_host, "localhost"},
    {db_port, 1978},
    {db_adapter, mock},

    {port, 8001},
    {server, mochiweb},

    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600},

	{template_tag_modules, []},
	{template_filter_modules, []},

	{dummy, true} % a final dummy option so we don't have to keep track of commas
]},

%% MESSAGE QUEUE
{ tinymq, []},

%% Logging
{lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [
        {"log/error.log", error, 10485760, "$D0", 5},
        {"log/console.log", info, 10485760, "$D0", 5}
      ]}
    ]}
  ]},

%% APPLICATION CONFIGURATIONS

{ cb_admin, [
    {path, "../cb_admin"},
    {allow_ip_blocks, ["127.0.0.1"]},
    {base_url, "/admin"}
]},
{ bff, [
    {path, "../bff"},
    {base_url, "/"},
    {dummy, true}
]}
].
