body {
	color: blue;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.error {
	color: red;
}

nav {
	width: 100%;
	height: 70px;
}

nav ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	position: relative;
	clear: left;
	left: 50%;
	text-align: center;
	float: left;
}

nav li {
	float: left;
	position: relative;
	right: 50%;
}

nav a {
	display: block;
	width: 120px;
}

nav a:link,nav a:visited {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0099FF;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover,nav a:active {
	background-color: #00CCFF;
}

form ul {
	width: 400px;
	list-style-type: none;
	list-style-position: outside;
	margin:0 auto;
}

form li {
	padding: 12px;
	border-bottom: 1px solid #eee;
	position: relative;
}

form li:first-child,form li:last-child {
	border-bottom: 1px solid #777;
}

form h2 {
	margin: 0;
	display: inline;
}

form label {
	width: 150px;
	display: inline-block;
	float: left;
}

form input:not([type="submit"]) {
	width:220px;
}

form input[type="submit"]:active {
	border: 1px solid #00CCFF;
	box-shadow: 0 0 10px 5px #0099FF inset;
	-webkit-box-shadow: 0 0 10px 5px #0099FF inset;
	-moz-box-shadow: 0 0 10px 5px #0099FF inset;
	-ms-box-shadow: 0 0 10px 5px #0099FF inset;
	-o-box-shadow: 0 0 10px 5px #0099FF inset;
}

form input[type="submit"] {
	margin-left: 150px;
	background-color: #0099FF;
	border: 1px solid #00CCFF;
	border-bottom: 1px solid #00CCFF;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #00CCFF;
	-webkit-box-shadow: 0 1px 0 0 #00CCFF inset;
	-moz-box-shadow: 0 1px 0 0 #00CCFF inset;
	-ms-box-shadow: 0 1px 0 0 #00CCFF inset;
	-o-box-shadow: 0 1px 0 0 #00CCFF inset;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
}

form input,form textarea {
	border: 1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius: 2px;
}

form input:focus,form textarea:focus {
	background: #fff;
	border: 1px solid #555;
	box-shadow: 0 0 3px #aaa;
	padding-right: 2px;
}

