<html>
<head>
<title>{% block title %}All posts{% endblock %}</title>
</head>
<body>
	{% block body %}
	<p>{{ person.name }}, here we have listed all your posts:</p>
	
	<ul>
		{% if posts %} 
			{% for post in posts %}
				<li>{{ post.post_text }} </li>
			{% endfor %} 
		{% endif %}
	</ul>
	{% endblock %}
	
	
	<p>
		<a href="{% url action='create' %}">Create Post</a>
	</p>

	<form method="post" action="{% url action='remove' %}">
		<select name="post_id"> 
			{% for post in posts %}
			<option value="{{ post.id }}">
				{{ post.post_text }} 
			</option>
			{% endfor %}
		</select> 
		<input type="submit" title="Delete" value="Delete">
	</form>

</body>
</html>