{% extends "shared/parent.html" %}
{% block title %}Register{% endblock %}

{% block main_section %}
	<form method="post" name="register">
		<ul>
			<li>
				<h2>Register</h2>
			</li>
			<li>
				<label>Username:</label>
				<input name="username" type="text" required/><br/>
			</li>
			<li>
				<label>Password:</label>
				<input name="password" type="password" required/><br/>
			</li>
			<li>
				<input type="submit" />
				<input type="hidden" name="redirect" value="/" />
			</li>
		</ul>
	</form>
{% endblock %}